$blue: #44abff;
$blue--hover: #0b87ed;
$red: #ff4242;
$white: #ffffff;
$yellow: #ffce43;
$black: #121212;
$blue-2: #91cdff;

$text-color-white: #323232;

$primary-color: #353d4f;
$primary-color-press: #282e3b;
$primary-color--dark: #1d212b;
$badge-color--ars: linear-gradient(90deg, rgb(42, 145, 255) 57.5%, white 50%);
$badge-color--usd: linear-gradient(90deg, white 43.5%, rgba(48, 52, 164, 1) 43.5%);
$primary-color--hover: #3d475e;
$white-background-content-sections: rgba(255, 255, 255, 0.563);
$white-background: #f5f9fc;
$text-color: #575757;
$text-color--hover: #686868;
$text-advise-color: #d07a0b;
$text-advise-color--hover: #ee992a;
$text-confirm-color: #009d47;
$text-confirm-color--hover: #0bb155;
