// General
$primary-color: #44abff;
$primary-color--hover: #0b87ed;
$white: #fff;

// Textos
$text-color-white: #323232;
$text-color: #575757;
$text-color--hover: #686868;
$text-advise-color: #d07a0b;
$text-advise-color--hover: #ee992a;
$text-confirm-color: #009d47;
$text-confirm-color--hover: #0bb155;

// Fondos
$white-background-content-sections: rgba(255, 255, 255, 0.563);
$white-background: #f5f9fc;

// Logo
$logo-color-red: #ff4242;
$logo-color-yellow: #ffce43;
$logo-color-black: #121212;
