@mixin displayFlex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin searchColor($blueSearch: true) {
	@if $blueSearch == true {
		background: grey;
	}
	@else{
		background: rgb(255, 255, 255);
	}
}