@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'colors';
@import 'fonts';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

html,
body,
#root {
	height: 100%;
}

p {
	margin-bottom: 0 !important;
}

.father-container-view {
	width: 100%;
	height: calc(100% - 45px);
	background-color: $white-background;
	overflow-y: scroll;
}
