@import 'colors';
@import 'mixins';

/* SCSS DIRECTORY
	1. = MODAL
	2. = MODAL TAGS
	3. = CARD
	4. = FUNCTIONS BUTTON
	5. = CARD TAGS
	6. = SEEN MARKER
	7. = FUNCTIONS MENU
*/

/* <====================================================================>
   <============================== MODAL ===============================>
   <====================================================================> */

.father-container-view {
	.container {
		.row {
			@include displayFlex(column, center, center);
		}
	}
	.cards-overlay-mask {
		@include displayFlex(null, center, center);
		width: 100%;
		height: calc(100% - 45px);
		background-color: rgba(0, 0, 0, 0.4);
		position: absolute;
		z-index: 1;
	}
	.modal-comunicado {
		@include displayFlex(column, center, center);
		height: 80%;
		background-color: #fff;
		border-radius: 10px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 45px;
		margin: auto;
		padding: 0;
		z-index: 1;

		@media (max-width: 575px) {
			height: calc(100% - 45px) !important;
			border-radius: 0px;
		}

		.modal-container {
			@include displayFlex(column, space-between, center);
			width: 100%;
			height: 100%;
			padding: 35px;

			.modal-top-section {
				@include displayFlex(column, flex-start, center);
				width: 100%;
				height: calc(100% - 50px);

				.modal-tags-close {
					@include displayFlex(row, space-between, center);
					width: 100%;
					margin-bottom: 25px;

					/* <====================================================================>
				   <============================ MODAL TAGS ============================>
				   <====================================================================> */

					.modal-etiquetas {
						@include displayFlex(row, flex-start, center);
						width: fit-content;

						.comunicado-category {
							@include displayFlex(row, center, center);
							width: 80px;
							height: 25px;
							margin-right: 7px;
							border-radius: 5px;
							transition: all 100ms ease-in-out;
							cursor: default;

							.tag-category {
								color: rgb(255, 255, 255);
								font-size: 13px;
								font-weight: 700;
							}
						}
					}
				}

				.modal-from-who {
					white-space: nowrap;
					width: 100%;
					margin-bottom: 10px;
				}

				.modal-content {
					@include displayFlex(column, flex-start, center);
					width: 100%;
					height: 100%;
					overflow-y: auto;
					position: relative;
					pointer-events: auto;
					background-color: transparent;
					background-clip: padding-box;
					border: 0;
					border-radius: 0;
					outline: 0;

					@media screen and (max-width: 575px) {
						max-height: 490px;
					}

					@media screen and (max-width: 532px) {
						max-height: 470px;
					}

					.modal-title-edit {
						height: 50px;
						resize: none;
					}

					.modal-title {
						@include displayFlex(row, flex-start, center);
						width: 100%;
						margin-bottom: 5px;
						line-height: 1.4;
					}

					.modal-text-edit {
						width: 100%;
						height: 100%;
						resize: none;
						font-size: 14px !important;

						@media screen and (max-width: 532px) {
							height: 85% !important;
						}

						@media screen and (min-width: 768px) and (max-width: 836px) {
							height: 85% !important;
						}
					}

					.modal-text {
						width: 100%;
						height: 100%;
						resize: none;
						font-size: 1rem;
						border: none;
						outline: none;
						cursor: text;
						background-color: transparent;
						line-height: 1.8;
					}
				}
			}

			.modal-bottom-section {
				@include displayFlex(row, space-between, center);
				width: 100%;
				transition: all 100ms ease-in-out;

				@media screen and (max-width: 532px) {
					@include displayFlex(column, center, flex-start);
				}

				@media screen and (min-width: 768px) and (max-width: 836px) {
					@include displayFlex(column, center, flex-start);
				}

				.modal-comuncado-info {
					@include displayFlex(row, flex-start, center);
					width: 70%;
					height: 36px;

					@media screen and (max-width: 332px) {
						margin-bottom: 10px;
					}

					@media screen and (max-width: 532px) {
						width: 100%;
					}

					@media screen and (min-width: 768px) and (max-width: 836px) {
						margin-top: 5px;
					}
				}

				.modal-buttons {
					@include displayFlex(row, center, center);
					//width: 30%;
					transition: all 100ms ease-in-out;

					@media screen and (max-width: 332px) {
						@include displayFlex(column, center, flex-start);
					}

					@media screen and (min-width: 332px) and (max-width: 532px) {
						margin-top: 15px;
					}

					@media screen and (max-width: 532px) {
						width: 100%;
					}

					@media screen and (min-width: 768px) and (max-width: 836px) {
						width: auto;
						margin: 5px 15px 0px 0px;
					}

					.modal-button-standard {
						width: 160px;
						color: #fff;
						white-space: nowrap;
						padding: 7px 13px;
						border-radius: 7px;
						text-align: center;
						cursor: pointer;
						transition: all 100ms ease-in-out;
					}

					.modal-save-btn {
						@extend .modal-button-standard;
						color: $primary-color;
						border: 1px solid $primary-color;

						&:hover {
							color: #fff;
							border: 1px solid $primary-color--hover;
							background-color: $primary-color--hover;
						}

						@media screen and (max-width: 332px) {
							margin-bottom: 15px;
						}

						@media screen and (min-width: 768px) and (max-width: 836px) {
							margin: 5px 15px 0px 0px;
						}
					}

					.modal-sign-button-active {
						@include displayFlex(null, center, center);
						width: 36px;
						height: 36px;
						padding: 0;
						border-radius: 50%;
						background-color: $card-seen-color;
						border: 1px solid $card-seen-color !important;

						&:hover {
							color: #fff;
							border: 1px solid $card-seen-color-hover !important;
							background-color: $card-seen-color-hover !important;
						}

						.seen-marker-icon {
							width: 15px;
							height: 15px;
							fill: #fff;
						}
					}

					.modal-sign-button {
						@extend .modal-button-standard;
						color: $card-pending-border-color;
						border: 1px solid $card-pending-color-hover;
						transition: all 100ms ease-in-out;

						&:hover {
							color: #fff;
							border: 1px solid $card-pending-border-color;
							background-color: $card-pending-border-color;
						}

						@media screen and (min-width: 768px) and (max-width: 836px) {
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}

/* <====================================================================>
   <=============================== CARD ===============================>
   <====================================================================> */

.date-comunicados-container {
	height: fit-content;
	margin: 20px 0px;

	@media screen and (min-width: 768px) {
		width: 100%;
	}

	.date-comunicados-header {
		color: $text-color-white;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
	}

	.date-comunicados-cards {
		.expand-card {
			max-height: fit-content !important;
			transition: all 150ms ease-in-out;
		}

		.comunicado-card-container {
			border-color: $card-pending-color-hover;
			max-height: 137px;
			margin: 20px 0px;
			padding: 20px;
			background-color: $card-bg;
			border-radius: 5px;
			box-shadow: 0px 2px 7px -3px #00000021;
			transition: all 100ms ease-in-out;

			&:hover > .comunicado-card-header > .comunicado-card-functions {
				display: flex !important;
			}

			.comunicado-card-header {
				@include displayFlex(row, space-between, center);
				width: 100%;
				max-height: 24px;

				.comunicado-card-from {
					color: $text-color-backgrey;
					font-size: 12px;
				}

				/* <====================================================================>
				   <========================= FUNCTIONS BUTTON =========================>
				   <====================================================================> */

				.comunicado-card-functions {
					@include displayFlex(null, center, center);
					display: none;
					width: 35px;
					height: 23px;
					cursor: pointer;
					border-radius: 5px;
					transition: all 100ms ease;
					margin-top: -7px;
					z-index: 0;

					@media screen and (max-width: 768px) {
						display: flex !important;
					}

					&:hover {
						background-color: #bdbdbd41;
					}

					.functions-icon {
						width: 21px;
						height: 21px;
						fill: $text-color-backgrey;
					}
				}
			}
		}

		.comunicado-card-content {
			width: calc(100% - 30px);
			cursor: pointer;

			.comunicado-card-title {
				width: calc(100% - 40px);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: 700;
				padding-bottom: 0.2rem;
			}

			.comunicado-card-body {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.comunicados-bottom-bar {
			@include displayFlex(row, space-between, center);
			width: 100%;
			margin-top: 5px;

			/* <===================================================================>
		   	   <============================ CARD TAGS ============================>
		   	   <===================================================================> */

			.comunicados-tags-container {
				@include displayFlex(row, flex-start, center);
				width: fit-content;
				margin-top: 10px;

				.comunicado-category {
					@include displayFlex(row, flex-start, center);
					width: 60px;
					height: 8px;
					margin-right: 7px;
					border-radius: 25px;
					transition: all 100ms ease-in-out;
				}
			}

			/* <====================================================================>
  			   <=========================== SEEN MARKER ============================>
   			   <====================================================================> */

			.comunicado-seen-marker {
				@include displayFlex(row, center, center);
				width: 30px;
				height: 30px;
				border-radius: 50%;
				cursor: pointer;
				transition: all 100ms ease-in-out;

				.seen-marker-icon {
					width: 15px;
					height: 15px;
					fill: #fff;
				}
			}

			.seen-marker-affirmative {
				background-color: $card-seen-color;

				&:hover {
					background-color: $card-seen-color-hover;
				}
				//border: 1px solid $card-seen-border-color;
			}

			.seen-marker-pending {
				background-color: $card-pending-color;

				&:hover {
					background-color: $card-pending-color-hover;
				}
				//border: 1px solid $card-pending-border-color;
			}
		}

		/* <===================================================================>
		   <========================= FUNCTIONS MENU ==========================>
		   <===================================================================> */

		.active-menu-list {
			visibility: visible !important;
			opacity: 1 !important;
		}

		.comunicado-options-menu {
			@include displayFlex(row, flex-start, baseline);
			width: 100%;
			height: fit-content;
			position: relative;

			visibility: hidden;
			opacity: 0;
			list-style: none;
			z-index: 0;

			transition: all 70ms ease-in-out;
			margin: 0;
			padding: 10px 0 0 0;
		}
	}
}
