@import 'mixins';
@import 'colors';

.login-view {
	width: 100%;
	height: 100%;

	.primary-section {
		@include displayFlex(row, center, center);
	}

	.background-login-layout {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.316);
		z-index: 10;
	}

	.background-container {
		@include displayFlex(row, flex-end, center);
		@extend .primary-section;
		width: 100%;
		height: 100%;
		margin: 0;
		background-image: url(../assets/images/things-background.jpg);
		background-repeat: no-repeat;
		background-size: cover;

		.form-section {
			@include displayFlex(column, center, center);
			@extend .primary-section;
			position: relative;
			height: 600px;
			border-radius: 10px;
			margin-right: 150px;
			background-color: $white;
			z-index: 11;

			.form-content {
				@include displayFlex(column, space-between, null);
				width: 100%;
				height: 100%;
				padding: 40px;

				.form-title {
					//@include displayFlex(column, center, flex-start);
					color: $text-color-white;
					text-align: center;

					@media screen and (max-width: 420px) {
						font-size: 30px;
					}
				}

				.form-logo {
					width: 120px;
					align-self: center;

					@media screen and (max-width: 420px) {
						width: 90px;
					}
				}

				.apis-container {
					@include displayFlex(column, space-between, center);
					width: 100%;
					height: 105px;

					.api-btn {
						@include displayFlex(null, center, center);
						width: 100%;
						height: 45px;
						background-color: #f7f7f7;
						border-radius: 5px;

						color: #000;
						text-decoration: none;
						font-weight: 400;
						font-size: 14px;
						cursor: pointer;
						transition: all 150ms ease-in-out;

						&:hover {
							background-color: #f0f0f0;
						}

						img {
							width: 20px;
							height: auto;
							margin: 0px 7.5px 2px 0px;
						}
					}
				}

				.login-form-divisor {
					@include displayFlex(null, center, center);
					text-align: center;
					color: #c9c9c9;
					font-size: 17px;
					font-weight: 300;
					line-height: 23px;
					width: 100%;
					//height: 1px;
					margin: 5px auto;

					&::before,
					&::after {
						content: '';
						-webkit-box-flex: 1;
						flex: 1;
						border-bottom: 1px solid #eaeaea;
					}

					&::before {
						margin-right: 10px;
					}

					&::after {
						margin-left: 10px;
					}
				}

				.login-form {
					margin: 0;

					.form-double-container {
						@include displayFlex(column, space-between, baseline);
						width: 100%;

						padding: 0;

						.form-double-inputs-container {
							@include displayFlex(row, space-between, center);
							width: 100%;

							.form-double-input {
								width: calc(50% - 10px);
							}
						}

						.form-double-error {
							//padding-left: 15px;
							font-size: 13px;
							color: $logo-color-red;
						}
					}

					.forgot-password-inputs-container {
						.fp-instructions-text {
							letter-spacing: 0.4px;
						}
					}

					.form-input-container {
						padding: 0;

						.input-error {
							font-size: 13px;
							color: $logo-color-red;
						}

						.status-response-message {
							margin-top: 15px;
							font-size: 13px;
						}

						.status-response-message-success {
							color: $text-confirm-color;
						}

						.status-response-message-error {
							color: $logo-color-red;
						}

						.form-password-container {
							@include displayFlex(null, space-between, center);
							flex-direction: row !important;
						}

						.form-password-input {
							width: 100%;
							height: 45px;
							background-color: #f7f7f7;
							outline: none;
							border: none;
							border-radius: 5px;

							&::placeholder {
								color: #727272;
							}

							&:focus .form-password-container {
								background-color: #f0f0f0;
								border: 1px solid $primary-color;
							}
						}

						.form-eye-icon {
							font-size: 17px;
							cursor: pointer;
							transition: all 100ms ease-in-out;

							&:hover {
								color: $primary-color;
							}
						}

						.login-form-input {
							@include displayFlex(column, center, center);
							width: 100%;
							height: 45px;
							background-color: #f7f7f7;
							font-size: 14px;
							padding: 13px;
							margin: 15px 0px 5px 0px;
							outline: none;
							border: none;
							border-radius: 5px;

							&::placeholder {
								color: #727272;
							}

							&:focus {
								background-color: #f0f0f0;
								border: 1px solid $primary-color;
							}
						}
					}

					.session-validate-message {
						font-size: 13px;
						color: $logo-color-red;
					}
				}
			}

			.container-btn {
				@include displayFlex(column, center, center);
			}

			.enter-btn {
				border-radius: 5px;
				background-color: $primary-color;
				border: none;
				text-align: center;
				font-size: 17px;
				width: 100%;
				height: 45px;
				transition: all 150ms ease-in-out;
				cursor: pointer;
				margin-top: 10px;
				color: white;

				&:hover {
					background-color: $primary-color-light--hover;
				}

				@media screen and (max-width: 768px) {
					font-size: 15px;
				}
			}

			.reset-password-btn-success {
				color: #fff;
				transition: all 150ms ease-in-out;
				background-color: $card-seen-color;
				cursor: default;

				&:hover {
					background-color: transparent;
					color: $card-seen-color;
					border: 1px solid $card-seen-color;
				}
			}

			.reset-password-btn-wait {
				color: #fff;
				transition: all 150ms ease-in-out;
				background-color: $card-pending-color;
				cursor: default;

				&:hover {
					background-color: transparent;
					color: $card-pending-color;
					border: 1px solid $card-pending-color;
				}
			}

			.form-forgot-keep-container {
				@include displayFlex(column, space-between, baseline);
				margin: 5px 0px 20px 0px;

				.form-keep-login {
					margin: 5px 0px;
					@include displayFlex(row, flex-start, center);

					.form-keep-login-label {
						margin-left: 7.5px;
						line-height: none;
						font-size: 13px;
						color: #727272;
					}
				}

				.form-forgot-password {
					color: #727272;
					text-decoration: none;
					font-size: 13px;
					cursor: pointer;
					transition: all 150ms ease-in;
					&:hover {
						color: $primary-color--hover;
						text-decoration: underline;
					}
				}
			}

			.form-register-text {
				font-size: 15px;
				white-space: nowrap;
				color: #727272;

				span {
					color: $primary-color;
					text-decoration: none;
					transition: all 150ms ease-in-out;
					cursor: pointer;
					font-weight: 600;

					&:hover {
						color: $primary-color--hover;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 420px) {
	.form-register-text {
		margin-top: 10px;
		white-space: normal !important;
	}
}

@media screen and (max-width: 768px) {
	.background-container {
		justify-content: center !important;

		.form-section {
			margin: 0px !important;
			height: 550px !important;
		}
	}
}

@media screen and (min-width: 1440px) {
	.form-section {
		width: 500px;
	}
}
