@import 'colors.scss';
@import 'fonts.scss';
@import 'mixins.scss';

.rs-sidenav {
	$nav-width: 250px;
}

.rs-sidenav:not(.rs-sidenav-collapse-in) {
	$nav-width: 56px !important;
}

#sidenavbar-container {
	//width: $nav-width;
	color: $white-background;
	position: fixed;
	z-index: 1;
	transition: all 170ms ease-in-out;

	.rs-sidenav-collapse-in {
		visibility: visible !important;
	}

	.rs-sidenav {
		width: auto;
		height: 100%;
		visibility: hidden;
		background-color: $sidenavbar-background;
		transition: all 100ms ease-in-out;

		.rs-sidenav-body {
			width: auto;

			.rs-nav {
				width: auto;
				transition: all 100ms ease-in-out;

				ul {
					width: auto;

					.rs-btn-toggle {
						min-width: 40px;
						margin: 7px;
						transition: all 100ms ease-in-out;
					}

					.rs-nav-item {
						width: 100%;
						height: 50px;

						& > a > div:hover {
							background-color: #ffffff2d;
						}

						a {
							text-decoration: none;
							color: #fff;
							transition: all 50ms ease-in-out;

							div {
								@include displayFlex(row, flex-start, center);
								white-space: nowrap;
								height: 100%;
								transition: all 200ms ease-in-out;

								i {
									top: auto;
								}
							}
						}
					}
				}
			}
		}
	}
}
