/* SCSS DIRECTORY
	1. = MODAL
	2. = CARD
	3. = FUNCTIONS BUTTON
	4. = TAGS
	5. = FUNCTIONS MENU
*/
/* <====================================================================>
   <============================== MODAL ===============================>
   <====================================================================> */
.father-container-view {
  /* 
  .container-modal {
  	@include displayFlex(null, center, center);
  	width: 100%;
  	height: calc(100% - 45px);
  	position: absolute;
  	margin: 0;
  	z-index: 1;
  } */
}
.father-container-view .container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.father-container-view .cards-overlay-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 45px);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
}
.father-container-view .modal-comunicado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 45px;
  margin: auto;
  padding: 0;
  z-index: 1;
}
@media (max-width: 575px) {
  .father-container-view .modal-comunicado {
    height: calc(100% + 45px) !important;
  }
}

/* <====================================================================>
   <=============================== CARD ===============================>
   <====================================================================> */
.date-comunicados-container {
  height: fit-content;
  margin: 20px 0px;
}
@media screen and (min-width: 768px) {
  .date-comunicados-container {
    width: 100%;
  }
}
.date-comunicados-container .date-comunicados-header {
  color: #323232;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.date-comunicados-container .date-comunicados-cards {
  /* <===================================================================>
  	   <========================= FUNCTIONS MENU ==========================>
  	   <===================================================================> */
}
.date-comunicados-container .date-comunicados-cards .expand-card {
  max-height: fit-content !important;
  transition: all 150ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container {
  max-height: 135px;
  margin: 20px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 7px -3px #00000021;
  transition: all 100ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container:hover > .comunicado-card-header > .comunicado-card-functions {
  display: flex !important;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 24px;
  /* <====================================================================>
     <========================= FUNCTIONS BUTTON =========================>
     <====================================================================> */
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-from {
  color: #888888;
  font-size: 12px;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  width: 35px;
  height: 23px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 100ms ease;
  margin-top: -7px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions {
    display: flex !important;
  }
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions:hover {
  background-color: #bdbdbd41;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions .functions-icon {
  width: 21px;
  height: 21px;
  fill: #888888;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-content {
  width: calc(100% - 30px);
  cursor: pointer;
  /* &:hover {
  	background-color: $card-bg-hover;
  } */
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-content .comunicado-card-title {
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  padding-bottom: 0.2rem;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-content .comunicado-card-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  /* <===================================================================>
    		<============================== TAGS ===============================>
    		<===================================================================> */
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicados-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicados-tags-container .comunicado-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 8px;
  margin-right: 7px;
  border-radius: 25px;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicados-tags-container .comunicado-category .category-bubble {
  width: 9px;
  height: 9px;
  margin: 0px 7px;
  border-radius: 50%;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicados-tags-container .comunicado-category .tag-category {
  color: #000;
  font-size: 12px;
  margin: 1px 7px 0px 0px;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicado-seen-marker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicado-seen-marker .seen-marker-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-affirmative {
  background-color: #00b14a;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-affirmative:hover {
  background-color: #00ce56;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-pending {
  background-color: #ebd31b;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-pending:hover {
  background-color: #fce325;
}
.date-comunicados-container .date-comunicados-cards .active-menu-list {
  visibility: visible !important;
  opacity: 1 !important;
}
.date-comunicados-container .date-comunicados-cards .comunicado-options-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: fit-content;
  position: relative;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  z-index: 1;
  transition: all 70ms ease-in-out;
  margin: 0;
  padding: 7px 0 0 0;
}
.date-comunicados-container .date-comunicados-cards .comunicado-options-menu .comunicado-function {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.date-comunicados-container .date-comunicados-cards .comunicado-options-menu .comunicado-function:hover {
  background-color: #bdbdbd34;
}
.date-comunicados-container .date-comunicados-cards .comunicado-options-menu .comunicado-function .comunicado-function-icon {
  width: 16px;
  margin-right: 7px;
  fill: #323232;
}
.date-comunicados-container .date-comunicados-cards .comunicado-options-menu .comunicado-function .comunicado-function-label {
  font-size: 12px;
  margin-top: 2.5px;
}

/*# sourceMappingURL=home.css.map */
