.filter-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin-bottom: 1rem;
}

.filter-btn-toggler {
  display: flex;
  flex-direction: column;
  position: relative;
}
.filter-btn-toggler .filter-btn-content {
  display: flex;
  flex-direction: row;
}
.filter-btn-toggler .filter-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  display: none;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 7px -3px #00000042;
  position: absolute;
  margin-top: 2rem;
  z-index: 1000;
}
.filter-btn-toggler .filter-menu-container .filter-option-btn {
  width: 100%;
  height: 35px;
  padding: 8px;
  padding-left: 10px;
  transition: all 150ms ease-in-out;
  border-bottom: 1px solid #e6e6e6;
}
.filter-btn-toggler .filter-menu-container .filter-option-btn:hover {
  background-color: #f5f5f5;
}
.filter-btn-toggler .filter-menu-container-active {
  display: flex;
  visibility: visible;
  opacity: 1;
}

/* SCSS DIRECTORY
	1. = MODAL
	2. = MODAL TAGS */
/* <====================================================================>
   <============================== MODAL ===============================>
   <====================================================================> */
.father-container-view .container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.father-container-view .cards-overlay-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.father-container-view .modal-comunicado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 45px;
  margin: auto;
  padding: 0;
  z-index: 3;
}
@media (max-width: 575px) {
  .father-container-view .modal-comunicado {
    height: calc(100% - 45px) !important;
    border-radius: 0px;
  }
}
.father-container-view .modal-comunicado .modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 35px;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-tags-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  /* <====================================================================>
    <============================ MODAL TAGS ============================>
    <====================================================================> */
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-tags-close .modal-etiquetas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-tags-close .modal-etiquetas .comunicado-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  margin-right: 7px;
  border-radius: 5px;
  transition: all 50ms ease-in-out;
  cursor: default;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-tags-close .modal-etiquetas .comunicado-category .tag-category {
  color: white;
  font-size: 13px;
  font-weight: 700;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-tags-close .modal-etiquetas .comunicado-category-insert {
  cursor: pointer;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-tags-close .modal-etiquetas .comunicado-category-insert-disabled {
  background-color: grey !important;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-from-who {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 10px;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
  outline: 0;
  overflow: hidden;
}
@media screen and (max-width: 575px) {
  .father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content {
    max-height: 490px;
  }
}
@media screen and (max-width: 532px) {
  .father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content {
    max-height: 470px;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-form-data-container {
  width: 100%;
  height: 100%;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-form-data-container .enter-btn {
  display: none;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-receptor-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-receptor-container .modal-input-receptor {
  margin-left: 3px;
  margin-bottom: 10px;
  border: none;
  width: fit-content;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-title-edit {
  min-height: 25px;
  max-height: 60px;
  resize: none;
  border: 0;
  border-bottom: 1px solid #0037582e;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-title-edit:focus {
  outline: none;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  line-height: 1.4;
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-text-edit {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  resize: none;
  font-size: 14px !important;
}
@media screen and (max-width: 532px) {
  .father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-text-edit {
    height: 85% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 836px) {
  .father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-text-edit {
    height: 85% !important;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-top-section .modal-content .modal-text {
  width: 100%;
  height: 80%;
  resize: none;
  font-size: 1rem;
  outline: none;
  cursor: text;
  border: 0;
  border-bottom: 1px solid #0037582e;
  background-color: transparent;
  line-height: 1.8;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 100ms ease-in-out;
}
@media screen and (max-width: 532px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 836px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-comuncado-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 36px;
}
@media screen and (max-width: 332px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-comuncado-info {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 532px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-comuncado-info {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 836px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-comuncado-info {
    margin-top: 5px;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-in-out;
}
@media screen and (max-width: 332px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 332px) and (max-width: 532px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons {
    margin-top: 15px;
  }
}
@media screen and (max-width: 532px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 836px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons {
    width: auto;
    margin: 5px 15px 0px 0px;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-button-standard, .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button, .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-btn {
  width: fit-content;
  color: #fff;
  white-space: nowrap;
  padding: 7px 13px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-btn {
  color: #39a2f8;
  border: 1px solid #39a2f8;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-btn:hover {
  color: #fff;
  border: 1px solid #0b87ed;
  background-color: #0b87ed;
}
@media screen and (max-width: 332px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-btn {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 836px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-btn {
    margin: 5px 15px 0px 0px;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 36px;
  padding: 0;
  color: #fff;
  background-color: #00b191;
  border: 1px solid #00b191 !important;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-save-button-active:hover {
  border: 1px solid #05c29f !important;
  background-color: #05c29f !important;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button {
  color: #d1a000;
  border: 1px solid #fcd125;
  transition: all 100ms ease-in-out;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button:hover {
  color: #fff;
  border: 1px solid #d1a000;
  background-color: #d1a000;
}
@media screen and (min-width: 768px) and (max-width: 836px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button {
    margin-top: 5px;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  background-color: #00b191;
  border: 1px solid #00b191 !important;
}
@media screen and (max-width: 535px) {
  .father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button-active {
    width: 50px;
    height: 50px;
  }
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button-active:hover {
  color: #fff;
  border: 1px solid #05c29f !important;
  background-color: #05c29f !important;
}
.father-container-view .modal-comunicado .modal-container .modal-bottom-section .modal-buttons .modal-sign-button-active .seen-marker-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}

/* 	SCSS DIRECTORY
    1. = CARD
    2. = FUNCTIONS BUTTON
    3. = CARD TAGS
    4. = SEEN MARKER
    5. = FUNCTIONS MENU */
/* <====================================================================>
   <=============================== CARD ===============================>
   <====================================================================> */
.date-comunicados-container {
  height: fit-content;
  margin: 20px 0px;
}
.date-comunicados-container .date-comunicados-header {
  color: #323232;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}
.date-comunicados-container .date-comunicados-cards {
  /* <===================================================================>
     <========================= FUNCTIONS MENU ==========================>
     <===================================================================> */
}
.date-comunicados-container .date-comunicados-cards .expand-card {
  max-height: fit-content !important;
  transition: all 150ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container {
  border-color: #fcd125;
  max-height: 137px;
  margin: 20px 0px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 7px -3px #00000021;
  transition: all 100ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container:hover > .comunicado-card-header > .comunicado-card-functions {
  display: flex !important;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 24px;
  /* <====================================================================>
     <========================= FUNCTIONS BUTTON =========================>
     <====================================================================> */
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-from {
  color: #888888;
  font-size: 12px;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  width: 35px;
  height: 23px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 100ms ease;
  margin-top: -7px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions {
    display: flex !important;
  }
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions:hover {
  background-color: #bdbdbd41;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-container .comunicado-card-header .comunicado-card-functions .functions-icon {
  width: 21px;
  height: 21px;
  fill: #888888;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-content {
  width: calc(100% - 30px);
  cursor: pointer;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-content .comunicado-card-title {
  width: calc(100% - 40px);
  font-weight: 700;
  padding-bottom: 0.2rem;
  font-size: 14px;
  line-height: 1.42857143;
  color: #575757;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-comunicados-container .date-comunicados-cards .comunicado-card-content .comunicado-card-body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #575757;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  /* <===================================================================>
    	   <============================ CARD TAGS ============================>
    	   <===================================================================> */
  /* <====================================================================>
  		   <=========================== SEEN MARKER ============================>
  			   <====================================================================> */
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicados-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin-top: 10px;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicados-tags-container .comunicado-category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 8px;
  margin-right: 7px;
  border-radius: 25px;
  transition: all 100ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicado-seen-marker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .comunicado-seen-marker .seen-marker-icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-affirmative {
  background-color: #00b191;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-affirmative:hover {
  background-color: #05c29f;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-pending {
  background-color: #ebc11b;
}
.date-comunicados-container .date-comunicados-cards .comunicados-bottom-bar .seen-marker-pending:hover {
  background-color: #fcd125;
}
.date-comunicados-container .date-comunicados-cards .active-menu-list {
  visibility: visible !important;
  opacity: 1 !important;
}
.date-comunicados-container .date-comunicados-cards .comunicado-options-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: fit-content;
  position: relative;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  z-index: 0;
  transition: all 70ms ease-in-out;
  margin: 0;
  padding: 10px 0 0 0;
}

/*# sourceMappingURL=home.css.map */
