@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
.nav-icons, #top-navbar .right-nav .icons-container .nav-icon-container, #top-navbar .left-nav .icons-container .nav-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 100ms ease;
}
.nav-icons:hover, #top-navbar .right-nav .icons-container .nav-icon-container:hover, #top-navbar .left-nav .icons-container .nav-icon-container:hover {
  background-color: rgba(255, 255, 255, 0.255);
}
.nav-icons .right-nav-icon, #top-navbar .right-nav .icons-container .nav-icon-container .right-nav-icon, #top-navbar .left-nav .icons-container .nav-icon-container .right-nav-icon {
  width: 21px;
  height: 21px;
  fill: #fff;
}

#top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  top: 0;
  background: #39a2f8;
  position: relative;
  z-index: 9999;
}
#top-navbar .left-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  position: static;
  width: fit-content;
}
#top-navbar .left-nav .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 45px;
  margin-right: 11px;
}
#top-navbar .left-nav .navbar-searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  position: static;
  width: 250px;
  height: 27.5px;
  top: calc(50% - 15px + 0px);
  color: #fff;
  background: rgba(255, 255, 255, 0.275);
  border-radius: 5px;
  transition: all 80ms ease-in;
}
#top-navbar .left-nav .navbar-searchbar:focus-within {
  color: #000;
  background: white;
}
#top-navbar .left-nav .navbar-searchbar .searchbar-input {
  width: 85%;
  height: 100%;
  padding: 9px 11px;
  border: none;
  outline: none;
  background: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#top-navbar .left-nav .navbar-searchbar .searchbar-lupa-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  background: transparent;
}
#top-navbar .left-nav .navbar-searchbar .searchbar-lupa-container .searchbar-lupa-icon {
  width: 18px;
  height: 18px;
  fill: #fff;
  transition: all 100ms ease-in;
}
#top-navbar .right-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
  height: 45px;
}
#top-navbar .right-nav .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  height: 45px;
}
#top-navbar .right-nav .icons-container .notification-menu-container {
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width: 275px;
  max-height: 0px;
  height: 400px;
  background: #fff;
  top: 45px;
  right: 82px;
  overflow: hidden;
  transition: all 275ms ease-in-out;
  box-shadow: 0px 2px 7px -3px #00000042;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#top-navbar .right-nav .icons-container .notification-menu-container .principal-notification-container {
  width: 100%;
  height: 100%;
  padding: 15px;
}
#top-navbar .right-nav .icons-container .notification-menu-container .principal-notification-container .menu-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 45px;
}
#top-navbar .right-nav .icons-container .notification-menu-container .principal-notification-container .menu-options .function-active {
  font-weight: bold;
  border-bottom: 1px solid #39a2f8 !important;
}
#top-navbar .right-nav .icons-container .notification-menu-container .principal-notification-container .menu-options .notification-view-btn {
  width: 93px;
  text-align: center;
  cursor: pointer;
  padding: 0px 10px 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  transition: all 100ms ease-in;
}
#top-navbar .right-nav .icons-container .notification-menu-container .principal-notification-container .menu-options .notification-view-btn:hover {
  border-bottom: 1px solid #39a2f8;
}
#top-navbar .right-nav .profile-settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 7px;
  background: #39a2f8;
}
#top-navbar .right-nav .profile-settings-container .dropdown .profile-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 150ms ease;
}
#top-navbar .right-nav .profile-settings-container .dropdown .profile-image-container:hover {
  filter: brightness(1.1) !important;
}
#top-navbar .right-nav .profile-settings-container .dropdown .profile-image-container .profile-image-btn {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu {
  background-color: #fff !important;
  border-color: transparent !important;
  box-shadow: 0px 2px 7px -3px #00000042 !important;
  padding: 15px !important;
  margin-top: 15px !important;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-header .user-config-menu-name {
  font-size: 20px;
  color: #000;
  padding: 10px;
  padding-bottom: 0px;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-header .user-config-menu-email {
  font-size: 14px;
  top: -10px;
  color: #999999;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item {
  transition: all 120ms ease-in;
  border-radius: 7px;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item:hover {
  background-color: #dddddd !important;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item .config-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item .config-icon-container .config-icon {
  width: 20px;
  height: auto;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item .download-app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item .download-app-container .download-icon {
  width: 20px;
  height: auto;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item .log-out-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top-navbar .right-nav .profile-settings-container .dropdown .user-config-menu .dropdown-item .log-out-container .log-out-icon {
  width: 20px;
  height: auto;
}

@media (max-width: 600px) {
  .navbar-searchbar {
    width: calc(100vw - 366px) !important;
  }
}

/*# sourceMappingURL=top_navbar.css.map */
